#paperSheets {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(70%, 350px);
  min-height: 400px;
  background-color: #fffef2;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px #ffffff38; /* Add shadow for depth */
  background-image: 
  repeating-linear-gradient(0deg, transparent, transparent 20px, #0000ff34 22px, #0000ff34 23px); /* Horizontal lines with slightly thicker blue lines */
}

.nav {
  height: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  text-transform: uppercase;
}

.nav-link {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
}
.nav-link:hover {
  background-color: rgba(52, 112, 243, 0.5);
  transition: ease-in 0.1s;
}

.nav-link.active {
  background-color: #e44d4d25;
  border: 1px dashed black;
  font-weight: bold;
}

.pin {
  position: absolute;
  top: 10px;
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  border: outset;
}
.red-pin {
  background-color: red;
  left: 10px;
}
.blue-pin {
  background-color: #3864c2;
  right: 10px;
}